:root{
  --bg:#0b1220;
  --card:#111a2e;
  --primary:#22c55e;
  --text:#e2e8f0;
  --muted:#94a3b8;
}

*{box-sizing:border-box;margin:0;padding:0}

body{
  font-family:'Inter',sans-serif;
  background:linear-gradient(180deg,#0b1220,#0f172a);
  color:var(--text);
}

.container{
  text-align: center;
  width:92%;
  max-width:900px;
  margin:auto;
  padding:40px 0;
}

.hero{
  padding:60px 0 30px;
  text-align:center;
}

h1{
  font-size:28px;
  line-height:1.3;
}

h2{
  margin-bottom:15px;
}

p{
  color:var(--muted);
  margin-top:10px;
}

.btn{
  display:inline-block;
  padding:14px 24px;
  background:var(--primary);
  color:#000;
  font-weight:700;
  border-radius:8px;
  text-decoration:none;
  margin-top:20px;
  transition:.3s ease;
}

.btn:hover{
  transform:translateY(-3px);
  box-shadow:0 10px 20px rgba(34,197,94,.3);
}

.card{
  background:var(--card);
  padding:25px;
  border-radius:12px;
  margin-top:40px;
  box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.fade{
  opacity:0;
  transform:translateY(20px);
  transition:all .6s ease;
}

.fade.show{
  opacity:1;
  transform:translateY(0);
}

iframe{
  width:100%;
  height:220px;
  border-radius:12px;
  margin-top:15px;
}

ul{
  padding-left:18px;
  margin-top:10px;
}

li{
  margin-bottom:8px;
}

form input, form button{
  width:100%;
  padding:14px;
  border-radius:8px;
  border:none;
  margin-top:12px;
  font-size:14px;
}

form input{
  background:#1e293b;
  color:white;
}

form button{
  background:var(--primary);
  font-weight:700;
  cursor:pointer;
  transition:.3s;
}

form button:hover{
  transform:scale(1.02);
}

footer{
  margin:60px 0 30px;
  font-size:13px;
  color:var(--muted);
  text-align:center;
}

@media(min-width:768px){
  h1{font-size:40px}
  iframe{height:400px}
}

.video-box{
  position: relative;
  padding-bottom: 177.77%; /* 9:16 */
  height: 0;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 15px;
  max-width: 420px; /* tránh quá to trên desktop */
  margin-left: auto;
  margin-right: auto;
}

.video-box iframe{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.note-card{
  background:#fffbea;
  border-left:6px solid #facc15;
  padding:20px;
  border-radius:12px;
  box-shadow:0 6px 18px rgba(0,0,0,0.05);
  max-width:420px;
  margin:20px auto;
  transition:.3s ease;
}

.note-card:hover{
  transform:translateY(-4px);
}

.note-header{
  font-weight:800;
  font-size:14px;
  letter-spacing:1px;
  margin-bottom:8px;
  color:#b45309;
}

.note-body h3{
  margin:0 0 10px;
  font-size:18px;
}

.note-body p{
  font-size:14px;
  line-height:1.6;
  margin-bottom:15px;
  color:#111; /* đen đậm */
}